<!DOCTYPE html>
<html lang="en">
  <%- include("./partial/head.ejs" , { title: `${movie.Title}` }) %>
  <body>
    <script src="film.js"></script>
    <%- include("./partial/menubar.ejs", { admin }) %>
    <div>
      <h2><%= movie.Title %></h2>
      <p><b>Release Date: </b> <%= movie.ReleaseDate %></p>
      <p><b>Genres: </b> <%= movie.Genres %></p>
      <img src=<%= `uploadDir/${movie.Cover}` %> alt="" width="400" height="600">
      <p><b>Description: </b><br><%= movie.Description %></p>  
    </div>
    <hr>

    <div id="revforthis">
      <% if (user !== '') { %>
        <%- include("./partial/partialreview.ejs", {user, movieID: movie.MovieID}) %>
      <% } else { %>
        <p>Login to leave a review ...: </p>
        <a class="loginbutton" href="/login">Login</a>
        <hr>
      <% } %>
    </div>

    <div id="reviews">
      <h4>Reviews:</h3>
      <% reviews.forEach((review) => { %>
        <% if(admin) { %>
          <div class="reviewbox">
            <% if (review.Status === 1) { %>
              <p class="statusfield"><b>Status: </b> Pending...</p>
            <% } else if(review.Status === 2) { %>
              <p class="statusfield"><b>Status: </b> Approved by: <%= review.Admin %></p>
            <% } else { %>
              <p class="statusfield"><b>Status: </b> Refused by: <%= review.Admin %></p>
            <% } %>
            <p class="idfield"><%= review.ReviewID %></p>
            <p class="userfield"><b>User: </b><%= review.User %></p>
            <p><b>Rating: </b><%= review.Rating %></p>
            <p><b>Review: </b> </p>
            <p class="det_revdescr"><%= review.Review %></p>
            <button onclick=deleteComment(this.parentNode)>Delete Comment</button>
            <% if (review.Status === 1) { %>
              <button class="approveButton" onclick=approveComment(this.parentNode)>Approve Comment</button>
              <button class="refuseButton" onclick=refuseComment(this.parentNode)>Refuse Comment</button>
            <% } else if (review.Status === 2) { %>
              <button class="refuseButton" onclick=refuseComment(this.parentNode)>Refuse Comment</button>
            <% } else { %>
              <button class="approveButton" onclick=approveComment(this.parentNode)>Approve Comment</button>
            <% } %>
          </div>
        <% } else if (review.Status === 1 && review.User === user) {%>
          <div class="reviewbox">
            <p class="statusfield"><b>Status: </b> Pending... (An admin will approve your comment asap :) )</p>
            <p class="idfield"><%= review.ReviewID %></p>
            <p class="userfield"><b>User: </b><%= review.User %></p>
            <p><b>Rating: </b><%= review.Rating %></p>
            <p><b>Review: </b> </p>
            <p class="det_revdescr"><%= review.Review %></p>
            <% if (review.User === user) { %>
              <button onclick=deleteComment(this.parentNode)>Delete Comment</button>
            <% } %>
          </div>
        <% } else if(review.Status === 2) { %>
          <div class="reviewbox">
            <p class="statusfield"><b>Status: </b> Approved by: <%= review.Admin %></p>
            <p class="idfield"><%= review.ReviewID %></p>
            <p class="userfield"><b>User: </b><%= review.User %></p>
            <p><b>Rating: </b><%= review.Rating %></p>
            <p><b>Review: </b> </p>
            <p class="det_revdescr"><%= review.Review %></p>
            <% if (review.User === user) { %>
              <button onclick=deleteComment(this.parentNode)>Delete Comment</button>
            <% } %>
          </div>
        <% } %>
        <% }); %>
    </div> 
  </body>
</html>